.container {
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    //    background-color: #e9e6e6;
}

.loginpanel {
    width: 20rem;
}

.loginButton {
    text-align: end;
}